<link rel="stylesheet" href="/css/post.css">

<li id="post-<%= post.id %>" class="post-container">
    <div class="post-details">
        <img src="<%= post.user.avatar %>" alt="">
        <p><%= post.user.name %></p>
        <% if(locals.user && (locals.user.id==post.user.id)){ %>
            <small>
                <a class="delete-post-button" href="/posts/destroy/<%= post.id %>">X</a>
            </small>
        <% } %>
    </div>

    <p class="content"><%= post.content %></p>
    <div class="post-actions">
        <% if(locals.user){ %>
            <a class="toggle-like-button" data-likes="<%= post.likes.length %>" href="/likes/toggle/?id=<%= post._id %>&&type=Post">
                <div class="actions">
                    <i class="fa-regular fa-thumbs-up"></i> &ensp; <%= post.likes.length  %> 
                </div>
            </a>
                 
        <% }else{ %>
            <%= post.likes.length %> Likes
        <% } %>  
        
        <div class="actions comment-btn"  value="<%= post.id %>">
            Comments <%-post.comments.length  %>
        </div>

        <div class="actions">
            Share
        </div>
    </div>
    <div class="post-comments" id="comment-<%=post.id%>">
        <div class="post-form">
            <img src="<%= post.user.avatar %>" alt="">
            <% if(locals.user){ %>
                <form action="/comments/create" id="comments-form" method="post">
                    <input type="text" name="content" placeholder="type here to add comment .." required>
                    <input type="hidden" name="post" value="<%= post._id %>">
                    <input type="submit" value="Comment">
                </form>
            <% } %>
        </div>
        
        <div id="comments-list">
            <ul >
                <% for(comment of post.comments){ %>
                    <%- include('_comment') -%>
                <% } %>
            </ul>
        </div>
    </div>
   
</li>

<script src="/js/toggleLike.js"></script>
<script src="/js/post.js"></script>